<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<div class="header">
    <nav>
        <a routerLink="/login" routerLinkActive="active">Pocetni ekran</a>
        <a routerLink="" routerLinkActive="login" style="float: right;">Izloguj se</a>
        <span style="float: right;" *ngIf="par == 'page1'">Reset Lozinke</span>
        <span style="float: right;" *ngIf="par != 'page1'">Promena Lozinke</span>
    </nav>
</div>
<div class="container">
    <div class="content">

        <body>
            <div class="container-fluid">
                <div class="row" *ngIf="par == 'page1'">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 col-sm-12">
                        <table class="table">
                            <tr>
                                <td>Unesite email na kojem zelite da dobijete link: </td>
                                <td>
                                    <input type="text" name="email" [(ngModel)]="email">
                                </td>
                            </tr>
                            <tr style="text-align: rightleft;">
                                <td colspan="2">
                                    <form>
                                        <button (click)="func()" class="btn btn-success">Resetuj</button>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row" *ngIf="par != 'page1'">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 col-sm-12">
                        <table class="table">
                            <tr>
                                <td>Unesite lozinku: </td>
                                <td>
                                    <input type="password" name="lozinka" [(ngModel)]="lozinka">
                                </td>
                            </tr>
                            <tr>
                                <td>Ponovo unesite lozinku: </td>
                                <td>
                                    <input type="password" name="lozinka2" [(ngModel)]="lozinka2">
                                </td>
                            </tr>
                            <tr style="text-align: rightleft;">
                                <td colspan="2">
                                    <form>
                                        <button (click)="promeni()" class="btn btn-success">Promeni</button>
                                    </form>
                                </td>
                            </tr>
                            <tr *ngIf="error != null">
                                <td colspan="2">
                                    <span style="color:red">{{error}}</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </body>
    </div>
</div>
<div class="footer">
    <h5><i>LAZAR ERIC - PIA PROJEKAT</i></h5>
</div>



</html>